h2{
    text-align: center;
    font-size: 22px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: 800;
}


.style{
    /* border: solid 1px; */
    margin: auto;
    text-align: center;
    width: 80%;
}

p{
    text-align: left;
    padding-left: 250px;
    font-size: 18px;
}
.group1{
    text-align: left;
    width: 50%;
    border: solid 1px #D7D7D7;
    background-color: #FAFAFA;
    border-radius: 5px;
    padding: 16px 0;
    padding-left: 10px;
    margin: 30px 0;
}


::placeholder{
    color: #5B5B5B;
    font-weight: 700;
}
.btn{
    display:inline-block;
    text-decoration: none;
    width: 55%;
    padding: 16px 30px;
    margin: 40px 0;
    border-radius: 5px;
    border: solid 0px;
    background-color: #87CEFA;
    color: white;
    font-weight: 800;
    text-align: center;
}


/* 画像選択フォーム */
.img_form p {
    font-weight: bold;
}

.img_flex {
    width: 250px;
    /* border: solid 1px; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#img_button {
    color: white;
    font-size: 15px;
    letter-spacing: 0.3rem;
    background-color: #87CEFA;
    width: 150px;
    height: 40px;
    margin-left: 10px;
    text-align: center;
    border-radius: 5px;
}

#file_upload {
    display: none;
}

#icon_thumb {
    width: 60px;
    height: 60px;
}

#user_icon {
    width: 60px;
    height: 60px;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 50%;
    object-fit: cover;
    display: none;
}


/* ラジオボタン装飾 */
.radio{
    padding: 20px;
    /* border: solid 1px; */
}
.radio label{
    padding: 0 50px;
}
/* .radio2{
    padding: 20px;
} */
.t3{
    /* border: solid 1px; */
    padding-left: 60px;
}