h2{
    text-align: center;
    font-size: 22px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: 800;
}


.style{
    /* border: solid 1px; */
    margin: auto;
    text-align: center;
    width: 80%;
}

p{
    position: relative;
    left: 40%;
    padding: 5rem 0 0 0;
    text-align: left;
    font-size: 18px;
}
.group1{
    text-align: left;
    width: 50%;
    border: solid 1px #D7D7D7;
    background-color: #FAFAFA;
    border-radius: 5px;
    padding: 16px 0;
    padding-left: 10px;
    margin: 30px 0;
}


::placeholder{
    color: #5B5B5B;
    font-weight: 700;
}
.btn{
    display:inline-block;
    text-decoration: none;
    width: 55%;
    padding: 16px 30px;
    margin: 40px 0;
    border-radius: 5px;
    border: solid 0px;
    background-color: #FF0000;
    color: white;
    font-weight: 800;
    text-align: center;
}

